.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.avatar-circle {
    border-radius: 20%;
    width: 50px; /* Adjust size to your preference */
    height: 20px; /* Adjust size to your preference */
    object-fit: cover; /* Ensures the image fits within the circular shape */
}
